/** Colors */
/** Typography */
/** Header */
#header_cart {
  color: #fff !important;
  display: none !important;
}

.page-id-63 #header_cart {
  color: #fff !important;
  display: flex !important;
}

.logo-main.scale-with-grid {
  max-height: 50px !important;
}

#Top_bar .menu > li > a {
  padding: 10px 0;
}

#Top_bar #logo {
  padding: 0 !important;
}

.header-transparent #Top_bar #logo {
  height: 100px !important;
}

.logo-main.scale-with-grid {
  margin-bottom: 1.8em;
}

#menu-main-menu {
  margin-bottom: 0.7rem !important;
}

#Top_bar.is-sticky .top_bar_right .top_bar_right_wrapper {
  height: 60% !important;
}
#Top_bar.is-sticky #menu-main-menu {
  margin-bottom: 0 !important;
}

@media (max-width: 1023.99px) {
  #Header {
    padding-left: 1.618em;
    padding-right: 1.618em;
  }
}
/** Pages */
a.elementor-post__read-more {
  color: #b10000 !important;
}

.home.page #Top_bar {
  background: transparent !important;
}

.page #Wrapper #Header_wrapper #Header #Top_bar {
  background-color: #000 !important;
}
.page #Wrapper #Header_wrapper #Subheader .container .column .title {
  display: none;
}
.page #Wrapper #Header_wrapper #Subheader .container .column .breadcrumbs {
  display: none;
}

/** Talent Grid */
#card-container {
  padding: 1.618em;
}
#card-container .talent-col {
  margin: 1.618em auto;
}

.talent-card.card {
  border: none;
}
.talent-card.card img {
  object-fit: cover;
  height: 100%;
  max-height: 250px;
  min-height: 250px;
}
.talent-card.card .card-body {
  background-color: #6E0218;
  color: #fff;
}
.talent-card.card .button-more {
  background: #fff;
  padding: 0.5em 2em;
}
.talent-card.card .button-more a {
  color: #000;
}

.wppb-facet-filter.wppb-facet-select,
.wppb-facet-filter.wppb-facet-range {
  color: #fff;
}
.wppb-facet-filter.wppb-facet-select h5,
.wppb-facet-filter.wppb-facet-range h5 {
  color: #fff;
}

.wppb-ul-range-values.age {
  color: #fff;
  padding: 5px 0;
}

#wppb-facet-age {
  width: 23%;
  margin-left: 0.5em;
}

.search-label {
  color: #fff;
}

.wppb-faceted-list .ui-widget-header {
  background-color: #6E0218 !important;
  border-color: #6E0218 !important;
}

/** Member Profile */
.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
  border: 1px solid #fff;
  box-shadow: none;
}

#object-nav ul li a {
  color: #b10000;
}

.container-fluid.wppb-profile h3, .container-fluid.wppb-profile h3:first-child {
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #d2d2d2;
}

.card.demo-reel-card {
  background: transparent;
  border: none;
  margin-bottom: 1.618em;
}

#send-private-message {
  display: none !important;
}

.select2-container .select2-selection--single {
  height: 50px !important;
}
.select2-container .select2-selection__arrow {
  top: 10px !important;
}

.profile.public .wppb-back-span {
  margin: 2em 0;
}
.profile.public .wppb-back-span a {
  padding: 1em 2em;
  background-color: #b10000;
  color: #f5f5f5;
}

#head-shot.row col-lg-4 {
  margin: 0.5em;
}

.profile a {
  color: #b10000;
}

/*.my-profile {
  .send-message {
    display: none;
  }
  .profile-contact-section {
    display: none;
  }
}*/
/** My Account */
.user-page-link {
  font-size: 1.2rem;
  color: #fff;
  border-color: var(--tabs-active-border-color, transparent);
  text-align: center;
  display: block;
}
.user-page-link a {
  background: #b10000;
  color: #fff;
  padding: 0.6em 1.29em 0.6em 1.29em;
}
.user-page-link a:hover {
  background: #b10000;
  color: #fff;
}

.my-account-btn a {
  background: #b10000 !important;
  color: #fff !important;
}

/** Log In */
#login-form .login-username,
#login-form .login-password,
#login-form label {
  color: #fff;
}
#login-form #wppb-submit {
  background: #b10000;
}
#login-form .login-register-lost-password a {
  color: #b10000;
}

.wppb-sc-heading-before-reg-buttons h3 {
  display: none;
}

/** Gravity Forms */
#gform_wrapper_3 h2 {
  color: #fff;
}
#gform_wrapper_3 .gfield_label {
  color: #fff;
}
#gform_wrapper_3 .gfield_required {
  color: #fff;
}
#gform_wrapper_3 label {
  color: #fff;
}
#gform_wrapper_3 #gform_submit_button_3 {
  background-color: #b10000;
}

.gform_button.button {
  background-color: #b10000 !important;
  color: #f5f5f5 !important;
  border-color: #b10000 !important;
}

/** BuddyPress */
#buddypress {
  background-color: rgba(0, 0, 0, 0.9);
  padding: 1.618em;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
  border: 1px solid #f5f5f5;
  box-shadow: none;
}

#object-nav ul li a {
  color: #b10000;
}

/** Global */
#Wrapper {
  background: transparent;
}

/** Sign Up
--------------------- */
#sign-up-page h4 a {
  color: #fff !important;
}
#sign-up-page .woocommerce-Price-amount.amount, #sign-up-page .subscription-details {
  color: #b10000;
}

#wppb-register-user-actor span.wppb-description-delimiter {
  color: #f5f5f5;
}
#wppb-register-user-actor label {
  color: #f5f5f5;
}
#wppb-register-user-actor h4 {
  color: #f5f5f5;
}
#wppb-register-user-actor .form-submit input {
  background: #b10000;
  border-radius: 0;
  color: #f5f5f5;
}

/** Buttons
--------------------- */
.btn.btn-red {
  background: #b10000;
  color: #f5f5f5 !important;
  padding: 1em 2em;
  border-radius: 0;
}
.btn.btn-red:hover {
  background: #b10000 !important;
  opacity: 1;
}
.btn.send-message a {
  color: #f5f5f5;
}

.coupon button {
  background-color: #b10000 !important;
}

.shop_table button {
  background-color: #b10000 !important;
  color: #f5f5f5 !important;
}

.checkout-button.button.alt.wc-forward {
  background-color: #b10000 !important;
}
.checkout-button.button.alt.wc-forward br {
  display: none !important;
}

.button.wc-backward br {
  display: none !important;
}

/** Lost Password */
#lost-password #pms_recover_password_form p {
  color: #f5f5f5 !important;
}
#lost-password #pms_recover_password_form input[type=submit] {
  background-color: #b10000;
  color: #f5f5f5;
}
#lost-password #pms_recover_password_form label {
  color: #f5f5f5;
}

/** Action Section */
.action_button.top-bar-right-button {
  display: none !important;
}

/** Cart */
a.mfn-woo-cart-link {
  color: #b10000 !important;
}

a.restore-item {
  color: #b10000 !important;
}

.close.mfn-close-icon icon {
  color: #b10000 !important;
}

.product-remove a .icon {
  color: #b10000;
}
.product-remove .mfn-close-icon:hover .icon {
  color: #b10000 !important;
}

body.page-id-63 h4 {
  color: #f5f5f5 !important;
}

.cart-subtotal th {
  color: #f5f5f5 !important;
}

bdi {
  color: #f5f5f5 !important;
}

.recurring-totals th {
  color: #f5f5f5 !important;
}

.cart-subtotal.recurring-total th {
  color: #f5f5f5 !important;
}
.cart-subtotal.recurring-total td {
  color: #f5f5f5 !important;
}

.order-total th {
  color: #f5f5f5 !important;
}

.order-total.recurring-total th {
  color: #f5f5f5 !important;
}
.order-total.recurring-total td {
  color: #f5f5f5 !important;
}
.order-total.recurring-total .woocommerce-Price-amount.amount {
  color: #f5f5f5 !important;
}

.cart-empty:nth-child(2) {
  font-size: 2rem;
}
.cart-empty p {
  color: #f5f5f5 !important;
}

.return-to-shop {
  background-color: #b10000;
  color: #f5f5f5;
}
.return-to-shop a.button {
  background-color: #b10000 !important;
  color: #f5f5f5 !important;
}

/** Footer */
ul.ftr-lnks,
ul.ftr-info,
ul.ftr-scl {
  padding-left: 0 !important;
}

.wpcf7-form.init .column.four-fifth.ftr-frm {
  width: 60%;
  padding: 0 7px 10px 0px;
}

@media (max-width: 1023.99px) {
  .footer-content {
    text-align: center;
  }
  .footer-content img {
    margin: 0 auto;
    display: block;
  }
  .footer-content .ftr-scl {
    text-align: center;
  }

  #Footer #block-8 {
    margin-left: 0px !important;
  }

  #company {
    text-align: center;
  }

  #quick-link {
    text-align: center;
  }

  #stay-in-touch {
    text-align: center;
  }

  .wpcf7-form.init .column.four-fifth.ftr-frm {
    width: 100%;
  }
}
/** Actor Listing */
.card-row.row {
  margin-top: 4em;
  padding-top: 4em;
}

.faceted-menus ul.wppb-faceted-list {
  display: flex;
  flex-wrap: wrap;
  height: 400px;
  align-content: space-between;
  justify-content: center;
}
.faceted-menus ul.wppb-faceted-list li:nth-child(1) {
  flex: 0 0 100%;
  /*position: absolute;*/
}
.faceted-menus ul.wppb-faceted-list li:nth-child(n+2) {
  flex-basis: 25%;
  flex-grow: 0;
  width: 18%;
}

#wppb-facet-imdb_link_directors label {
  width: 100%;
}
#wppb-facet-imdb_link_directors label button {
  background-color: #b10000;
  height: 46px;
  border-radius: 0;
}

.select2-selection__rendered li {
  width: 90% !important;
  position: initial !important;
}

#wppb-remove-facets-container {
  display: initial;
}
#wppb-remove-facets-container li {
  width: 100% !important;
}

/** Single Post */
.single-post .product_image_wrapper.column.one-second {
  display: none;
}
.single-post .column.one.post-nav.minimal {
  display: none;
}
.single-post .fixed-nav.fixed-nav-next {
  display: none;
}
.single-post .entry-summary.column.one-second {
  width: 100%;
  margin-top: 1.618em;
}
.single-post .product_meta {
  display: none;
}
.single-post .share-simple-wrapper {
  display: none;
}

/** Woocommerce */
.subscription-details {
  color: #b10000;
}

.woocommerce-notices-wrapper {
  margin-top: 5em;
}
.woocommerce-notices-wrapper .alert {
  margin: 0 auto;
  width: 36vw;
  background-color: rgba(0, 0, 0, 0.8);
}
.woocommerce-notices-wrapper .alert_wrapper {
  color: #f5f5f5;
}
.woocommerce-notices-wrapper .alert_wrapper .button {
  background-color: #b10000 !important;
}

/* Cart */
body.page-id-63 .woocommerce-cart-form .cart th {
  color: #f5f5f5 !important;
}
body.page-id-63 .woocommerce-cart-form__cart-item.cart_item .product-name a {
  color: #b10000 !important;
}
body.page-id-63 .product-price .woocommerce-Price-amount.amount {
  color: #b10000 !important;
}
body.page-id-63 .product-price .subscription-details {
  color: #b10000;
}
body.page-id-63 .product-quantity {
  color: #b10000 !important;
}
body.page-id-63 .product-subtotal {
  color: #b10000 !important;
}

/** Shop */
body.post-type-archive-product #Wrapper #Content {
  background: url("https://opencurtainscasting.com/wp-content/uploads/2021/10/Group-224.jpg") !important;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-color: transparent !important;
}
body.post-type-archive-product #Wrapper #Content h4 a {
  color: #f5f5f5;
}
body.post-type-archive-product #Wrapper #Content .subscription-details {
  color: #b10000;
}
body.post-type-archive-product #Wrapper #Content .woocommerce-Price-amount.amount {
  color: #b10000;
}
body.post-type-archive-product #Wrapper #Content .products_wrapper {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1em;
}

#Wrapper {
  background-color: transparent !important;
}

/** Custom Theme CSS */
.header-transparent.ab-hide #Top_bar {
  top: 0px !important;
}

#Top_bar.is-sticky {
  background-color: #000 !important;
}

#Top_bar .action_button {
  background-color: rgba(0, 0, 0, 0) !important;
  padding: 0 px 0 px !important;
  font-size: 20px;
  color: #fff !important;
}

#Footer .widget {
  margin: 10px 0px !important;
  padding: 0px 0px !important;
}

#Footer p {
  font-size: 18px;
  line-height: 28px;
}

#Footer a {
  font-size: 18px;
  line-height: 30px;
}

#Footer h4 {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 20px;
}

#Footer .footer_copy {
  border-top: unset;
}

#Footer .footer_copy .one {
  margin-bottom: 10px;
  padding-top: 0px;
}

.ftr-scl {
  margin-top: 40px;
  margin-left: 20px;
}

.ftr-scl li i {
  font-size: 30px;
  color: #fff;
}

.ftr-scl li i:hover {
  color: #b10000;
}

.ftr-scl li {
  display: inline-flex;
  margin: 0px 8px;
}

.ftr-info li {
  display: inline-flex;
  margin: 5px 0px !important;
}

.ftr-info li i {
  padding-right: 8px;
  font-size: 20px;
}

.ftr-info li p {
  margin-bottom: 0px;
}

.ftr-info {
  margin-top: 20px;
}

.ftr-lnks li a {
  text-transform: uppercase;
}

#Footer .copyright {
  font-size: 18px;
  line-height: 28px;
}

#Footer .widgets_wrapper {
  padding: 100px 0px 50px 0px;
}

#Footer #block-8 {
  margin-left: 70px;
}

#Footer #block-7 {
  margin-left: 70px;
}

#Footer #block-5 {
  margin-top: 30px !important;
}

.ftr-frm input.wpcf7-form-control.wpcf7-text.wpcf7-email {
  background-color: #fff !important;
  border-radius: 4px;
  border: 1px solid #d86731;
  height: 40px;
  font-size: 16px;
  color: #000;
}

.ftr-frm button.wpcf7-submit {
  background-color: #fff !important;
  border-radius: 4px;
  border: 1px solid #d86731;
  font-size: 22px;
  color: #000;
  padding: 0px 15px;
  margin-left: -8px;
  height: 38px;
}

.ftr-frm img.ajax-loader {
  position: absolute;
}

.btn-one {
  text-transform: uppercase;
  font-size: 18px;
  display: inline-block;
  text-decoration: none !important;
  font-weight: 400;
  color: #fff;
  background-color: #B10000;
  border-radius: 5px;
  transition: all 0.25s ease;
  margin-top: 10px;
  padding: 12px 40px;
}

.btn-one:hover {
  background-color: #4F080A;
  transform: translateY(-8px);
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
  color: #fff;
  border-radius: 50px;
}

.hme-txt-one h4 {
  color: #b10000;
  font-size: 30px;
  line-height: 40px;
}

.hme-txt-one h4 span {
  color: #000;
}

.hme-img-two img {
  width: 100% !important;
}

.img-bx {
  position: fixed;
  right: -25%;
  top: 20%;
}

.hm-zm-bx {
  margin: 8px 8px;
  width: 32% !important;
  transition: all 0.8s ease-in-out;
  filter: brightness(0.8);
  z-index: 20;
}

.hm-zm-bx img {
  width: 100%;
}

.hm-zm-bx:hover {
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.18);
  transform: scale(1.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 9999;
  position: relative;
}

.hm-zm-bx .zoom_box .desc {
  background-color: rgba(0, 0, 0, 0.48) !important;
}

.hm-zm-bx .desc_txt {
  font-size: 30px !important;
  line-height: 40px !important;
  letter-spacing: 1px;
  color: #fff !important;
}

.easyjobs-frontend-wrapper.easyjobs-landing-page {
  background-color: rgba(245, 247, 253, 0);
  width: 80% !important;
  max-width: 1200%;
  padding-top: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  padding-left: 50px;
}

.page-id-38 div#Top_bar {
  background: #000;
}

/** Job Post */
.job-post-wrapper {
  background-color: transparent !important;
}

/** Products */
.single .products_wrapper ul.products {
  display: flex;
}
.single .products_wrapper ul.products li.product {
  margin: 0 auto !important;
}
.single .products_wrapper ul.products li.product h4 a {
  color: #f5f5f5 !important;
}

/** Check Out */
body.page-id-64 a {
  color: #b10000;
}
body.page-id-64 .woocommerce-info {
  color: #f5f5f5;
}
body.page-id-64 h3, body.page-id-64 h4 {
  color: #f5f5f5;
}
body.page-id-64 label {
  color: #f5f5f5;
}
body.page-id-64 .shop_table.woocommerce-checkout-review-order-table th, body.page-id-64 .shop_table.woocommerce-checkout-review-order-table td {
  color: #f5f5f5;
}
body.page-id-64 #place_order {
  background-color: #b10000 !important;
}

/*# sourceMappingURL=custom.css.map */
