/** BuddyPress */

#buddypress {
  padding: 1.618em;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
  border: 1px solid $white-smoke;
  box-shadow: none;
}

#object-nav {
  ul {
    li {
      a {
        color: $red;
      }
    }
  }
}

#subnav {
  li {
    a {
      color: $red;
    }
  }
}

.bp-messages-content {
  background-color: $dark-grey;
  padding: 0.5em;
}

#message-threads {
  .thread-item {
    padding: 1em;
  }
}