/** Buttons
--------------------- */

.btn {
  &.btn-red {
    background: $red;
    color: $white-smoke !important;
    padding: 1em 2em;
    border-radius: 0;
    &:hover {
      background: $red !important;
      opacity: 1.0;
    }
  }
  &.send-message a {
  color: $white-smoke;
  }
}

.coupon {
  button {
    background-color: $red !important;
  }
}

.shop_table {
  button {
    background-color: $red !important;
    color: $white-smoke !important;
  }
}

.checkout-button.button.alt.wc-forward {
  background-color: $red !important;
  br {
    display: none !important;
  }
}

.button.wc-backward {
  br {
    display: none !important;
  }
}

.form-submit {
  .submit.button {
    background-color: $red;
    border-radius: 0;
    color: $white-smoke;
  }
}

.button.wppb_upload_button {
  width: 200px
}



