/** Global */

#Wrapper {
  background: transparent;
}

/*#placeholder-img {
  background-image: url('/images/place-holder.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}*/