/** Gravity Forms */

#gform_wrapper_3 {
  h2 {
    color: $white;
  }

  .gfield_label {
    color: $white;
  }

  .gfield_required {
    color: $white;
  }
  label {
    color: $white;
  }
  #gform_submit_button_3 {
    background-color: $red;
  }
}