/** Job Posting */

#job-post {
  .elementor-post__read-more {
    color: $red !important;
  }
  h2, h1.elementor-heading-title {
    color: $black !important;
  }
}

#job-posting {
  .elementor-post__read-more {
    color: $red !important;
  }
  h2, h1.elementor-heading-title {
    color: $black !important;
  }
}