/** Lost Password */

#lost-password {
  #pms_recover_password_form {
    p {
      color: $white-smoke !important;
    }

    input[type=submit] {
      background-color: $red;
      color: $white-smoke;
    }

    label {
      color: $white-smoke;
    }
  }
}