/** My Account */

.user-page-link {
  font-size: 1.2rem;
  color: $white;
  border-color: var(--tabs-active-border-color,transparent);
  text-align: center;
  display: block;
  a {
    background: $red;
    color: $white;
    padding: 0.6em 1.29em 0.6em 1.29em;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}

.my-account-btn {
  a {
    background: $red !important;
    color: $white !important;
  }
}