/** Navigation */

#Header_wrapper {
  background-color: transparent !important;
  #Header {
    background-color: transparent !important;
    #Top_bar {
      background-color: transparent !important;
    }
  }
}