/** Pagination */

#userlisting_pagination {
  a.page-link {
    font-size: 1.7rem;
    text-align: center;
    margin: auto 5px 20px;
    width: 30px;
    height: 40px;
  }
  a.selected {
    font-size: 1.7rem;
    text-align: center;
    margin: auto 5px 20px;
    width: 30px;
    height: 40px;
    color: $white-smoke;
    background-color: $red;
  }
  a.page-link.pageLink_fist,
  a.page-link.pageLink_previous,
  a.page-link.pageLink_next,
  a.page-link.pageLink_last {
    font-size: 0 !important;
    width: 40px;
    height: 40px;
    border: 1px solid #CACDD6;
    background-color: #FFFFFF;
    margin: 0 3px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}